<html>

  <head>
    <title>Chat Page</title>
  </head>

  <body>
    <h1>Chat Page</h1>

    <div class="chat">

      <div class="ch-records">

      </div>

      <div class="sub-content">
        <form method="POST" action="/send.html">
          <div>
            <label>
              Input box:
            </label>
            <input type="text" name="send" />
          </div>

          <div>
            <input value="Submit" type="submit" />
          </div>

        </form>
      </div>


    </div>

  </body>

</html>
