@(user:User,weather:Weather)

<html>
  <head>
    <title>User Home</title>
    <link rel="stylesheet" type="text/css" href="/css/userhome.css">
  </head>

  <body>
    <h1>Welcome to your Home:@user.username</h1>
      <div class="avatar">
        <img width="200px" height="200px" src="@user.avatar">
        <a href="/toChatPage.html" class="a-chat">Enter Chat page</a>
      </div>
      <div>
        <div class="weather">

          <div class="w-content">
            <label class="w-name">City:</label>
            <p class="w-result">@weather.name</p>
          </div>

          <div class="w-content">
            <label class="w-name">Weather:</label>
            <span  class="w-result">@weather.weather<span>
          </div>

          <div class="w-content">
            <label class="w-name">Average Temperature:</label>
            <p class="w-result">@weather.mainTemp C</p>
          </div>

          <div class="w-content">
            <label>Mxsinimum Temperature:</label>
            <p class="w-result">@weather.minTemp C</p>
          </div>

          <div class="w-content">
            <label>Maximual Temperature:</label>
            <p class="w-result">@weather.maxTemp C</p>
          </div>

          <div class="w-content">
            <label class="w-name">Pressure:</label>
            <p class="w-result">@weather.pressure Hpa</p>
          </div>

          <div class="w-content">
            <label class="w-name">Wind:</label>
            <p class="w-result">@weather.wind</p>
          </div>

        </div>

    </div>
  </body>
</html>
